.Locate {
    form {
        margin-top: 1.25rem;
    }

    .Input--search {
        width: 50%;

        //fix rounded corners on ios
        border-radius: 0;
        -webkit-appearance: none;
    }
}
