.Pub-detail {

    .Map-icon {
        float: right;
    }

    .MapTabs {
        display: flex;
        flex-direction: row;
        width: calc(100% + 20px);
        margin: -10px 0 10px -10px;
    }

}
