.Pub-detail {

    .Suggestion {
        overflow: hidden;
        .inner {
            display: block;
            padding: 0.9em 0;
            font-size: $font-size-lrg-2;
            @include media-breakpoint-up(sm) {
                font-size: $font-size-lrg-3;
            }
        }
    }

    .MapTabs {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .Rational {
        p {
            font-size: $font-size-default;
            @include media-breakpoint-up(md) {
                font-size: $font-size-lrg-4;
            }
        }
    }

    .PubPagination {

        &-indicator{
            background: $yellow;
            padding: 0.6em 0 0 0;
            @include media-breakpoint-up(sm) {
                flex: 3;
            }
        }
        &-incrementor {
            white-space: nowrap;
        }
    }

    .DetailsHeading {
        font-size: $font-size-1;
        color: #a4813b;
        margin: 1.5em 0 0.5em 0;
    }



}
