.Screen-header {
    background: $mintLight;
    padding: $padding $padding 0;

    @extend .border-defaults;
    border-style: none;
    border-bottom-style: solid;

    p + .Box {
        margin-top: 1rem;
    }
}
.Screen-main {
    padding: 0 $padding;
    .Box {
        //background: $mintLight;
        &:first-child {
            border-top-width: 0;
        }
    }
}


.Box {
    @extend .border-defaults;
    background: $mintLight;
    border-style: solid;

    & + & {
        border-top-style: none;
    }
    p {
        padding: 0.6em 0 0 0;

        &:last-child {
            padding-bottom: 0.6em;
        }

    }
}

.Box-item {
    padding: $padding-vert-sm $padding-horiz-sm;
    flex: 1;
    @extend .border-defaults;
    border-style: none;
    border-left-style: solid;
    box-sizing: border-box;
    font-size: $font-size-4;

    &:first-child {
        border-left-style: none;
        border-top-style: none;
    }

    &--responsiveBorders {
        box-sizing: border-box;
        border-left-style: none;
        border-top-style: solid;

        &:first-child {
            border-top-style: none;
        }

        @include media-breakpoint-up(md) {
            border-left-style: solid;
            border-top-style: none;
            &:first-child {
                border-left-style: none;
                border-top-style: none;
            }
        }
    }

    &--halfCol {
        flex: 1 1 100%;

        @include media-breakpoint-up(md) {
            flex: 1;
        }
    }

    @include media-breakpoint-up(md) {
        font-size: $font-size-1;
        padding: $padding-vert-md $padding-horiz-md;
    }

    &--noPadding {
        padding: 0;
    }
}


.Box-row {

    display: flex;
    flex-direction: row;

    &--wrap{
        flex-wrap: wrap;
    }

    & + & {
        border-top-width: 0;
    }

    .Screen-header &:last-child {
        border-bottom-width: 0;
    }
}
