.Screen-header {
    background: $mintLight;
    padding: $padding $padding 0;
    border-width: 0;
    border-color: $blueDark;
    border-style: solid;
    border-bottom-width: $borderWidth;

    p + .Box {
        margin-top: 1rem;
    }
}
.Screen-main {
    padding: 0 $padding $padding;
    .Box {
        background: $mintLight;
        &:first-child {
            border-top-width: 0;
            padding-top: 10px;
        }
    }
}


.Box {
    //border-width: 3px;
    border-width: $borderWidth;
    border-color: $blueDark;
    border-style: solid;
    & + & {
        border-top-width: 1;
    }
    p {
        padding: 10px;
        padding-bottom: 0;
        padding-top: 0;

        &:first-child {
            padding-top: 10px;
        }
        &:last-child {
            padding-bottom: 10px;
        }
    }
}

.Box-item {
    padding: 10px;

    border-width: 0;
    border-color: $blueDark;
    border-style: solid;
    border-left-width: $borderWidth;
    box-sizing: border-box;


    &:first-child {
        border-left-width: 0;
        border-top-width: 0;
    }

    &--right {
        border-width: 0;
        border-color: $blueDark;
        border-style: solid;
        border-right-width: 3px;
    }
}

.Box-row {

    display: flex;
    flex-direction: row;

    &--wrap{
        flex-wrap: wrap;
    }


    .Box-item {

        flex: 1;

        &--responsiveBorders {

            box-sizing: border-box;
            border-left-width: 0;
            border-top-width: $borderWidth;

            &:first-child {
                border-top-width: 0;
            }

            @include media-breakpoint-up(md) {
                border-left-width: $borderWidth;
                border-top-width: 0;
                &:first-child {
                    border-left-width: 0;
                    border-top-width: 0;
                }
            }
        }

        &--halfCol {
            flex: 1 0 100%;

            @include media-breakpoint-up(md) {
                flex: 1 0 50%;
            }
        }

        &--halfCol--fixed {
            flex: 1 0 50%;
        }

    }

    & + & {
        border-top-width: 0;
    }

    .Screen-header &:last-child {
        border-bottom-width: 0;
    }
}
