.Header {
    padding: 10px $padding;
    color: $mintLight;
    background: $blueDark;
    overflow: hidden;
    h1 {
        float: left;
    }
}

.SearchLink {
    text-align: right;
    float: right;
    width: 1.775rem;
    height: 1.775rem;
    margin: -0.2rem 0 -1rem 0; //counteract padding on header
    background: url(../img/icons/search.svg) no-repeat;
    background-size: 100%;
    border: 0;
}
