.Header {
    box-sizing: border-box;
    position: relative;
    height: 2.3rem;
    padding: 10px $padding;
    color: $mintLight;
    background: $blueDark;
    overflow: hidden;
    z-index: 12; // to be above pulldown
    h1 {
        float: left;
    }
}

.headerButton {
    text-align: right;
    float: right;
    background-size: 100%;
    border: 0;
}

.SearchLink {
    @extend .headerButton;
    width: 1.775rem;
    height: 1.775rem;
    margin: -0.3rem 0 -1rem 0; //counteract padding on header
    background: url(../img/icons/search.svg) no-repeat;
}
.CloseLink {
    @extend .headerButton;
    width: 1.375rem;
    height: 1.375rem;
    margin: -0.1rem 0 -1rem 0;
    background: url(../img/icons/close-btn.svg) no-repeat;
}
