.Header {
    padding: 10px $padding;
    color: $mintLight;
    background: $blueDark;
    overflow: hidden;
    position: relative;
    z-index: 2; // to be above pulldown
    h1 {
        float: left;
    }
}

.SearchLink {
    text-align: right;
    float: right;
}
