.InfoBox {

    $buttonSize: 1.875em;
    //$buttonSizeDesktop: 2.5rem;

    @include media-breakpoint-up(md) {
        font-size: 1.4rem;
    }

    display: flex;
    flex-direction: row;
    x-justify-content: space-around;
    x-align-items: stretch;
    padding: 0 $padding;
    height: $buttonSize;


    &-arrow {
        flex: 1 0 auto;
        background: url(/img/arrow-left.svg) no-repeat right center;
        background-size: 61.6125em 1.5125em;

        &:last-of-type {
            background-image: url(/img/arrow-right.svg);
            background-position: left center;
        }
    }

    &-btnContainer {

        flex: 0 0 $buttonSize;

        & img {
            display: inline-block;
            //width: $buttonSize;
        }
    }

    @include media-breakpoint-up(md) {
        // height: $buttonSizeDesktop;
        //
        // &-btnContainer {
        //     flex: 0 0 $buttonSizeDesktop;
        // }


    }
}
