.InfoBox {
    $buttonSize: 1.875rem;
    display: flex;
    flex-direction: row;
    x-justify-content: space-around;
    x-align-items: stretch;
    padding: 0 $padding;
    height: $buttonSize;


    &-arrow {
        flex: 1 0 auto;
        background: url(/img/arrow-left.svg) no-repeat right center;
        background-size: 985.8px 24.2px; //natural svg size

        &:last-of-type {
            background-image: url(/img/arrow-right.svg);
            background-position: left center;
        }
    }

    &-btnContainer {

        flex: 0 0 $buttonSize;

        & img {
            display: inline-block;
            width: $buttonSize;
        }

    }
}
