.LocationMarker {
    position: absolute;
    top: 50%;
    left: 50%;
    background: url(/img/icons/map-pin.svg) no-repeat;
    background-size: 100%;
    width: 28.8px;
    height: 40px;
    margin: -40px 0 0 -14px;
}
