.Three-container {
    position: relative;
    overflow: hidden;
    //counteract parent padding of 20px
    width: calc(100% + 20px);
    margin-left: -10px;
}

.Render {
    display: block;
    width: 225px;
    height: 225px;
    margin: 20px auto 20px;

    @include media-breakpoint-up(sm) {
        width: 300px;
        height: 300px;
    }

    canvas {
        @extend .border-defaults;
        border-style: solid;
        border-radius: 100%;
        width: 100%;
        box-sizing: border-box;
    }
}

.Render--transition-left-out{
    animation: swipeLeftOut 0.15s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

}
.Render--transition-left-in{
    animation: swipeLeftIn 0.15s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.Render--transition-right-out{
    animation: swipeRightOut 0.15s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.Render--transition-right-in{
    animation: swipeRightIn 0.15s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.SliderContainer {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 20px 30px 40px;
    box-sizing: border-box;
}

.Slider {
    background: url(/img/slider-track.svg);
    background-size: 9px 9px;
    height: 5px;

    .rc-slider-handle {
        margin-left: -12px;
        margin-top: -10px;
        width: 24px;
        height: 24px;
        background: $red;
        border: 1px solid $mintLight;
    }

    .rc-slider-dot {
        display: none;
    }


}

.PubDetail-applyButtonContainer {
    text-align: center;
    padding-bottom: 1.5rem;
}

.MapIcon {

    float: right;
    img {
        height: 27px;
        width: 42px;
        margin-bottom: -10px;
    }
}

.WeatherIcon {
    height: 1.5em;
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.Suggestion {
    overflow: hidden;
    .inner {
        display: block;
        padding: 0.6em 0;
        font-size: $font-size-lrg-2;
        @include media-breakpoint-up(md) {
            font-size: $font-size-lrg-3;
        }
    }
}

.MapTabs {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

.PubTabContent {
    padding: $padding-horiz-sm;
    @include media-breakpoint-up(md) {
        padding: $padding-vert-md;
    }
}

.Rational {
    position: relative;
    padding-bottom: 4em;
    p {
        font-size: $font-size-default;
        @include media-breakpoint-up(md) {
            font-size: $font-size-lrg-4;
        }
    }
}

.CitymapperLink {
    position: absolute;
    left: 0;
    bottom: 0;
    @extend .border-defaults;
    border-top-style: solid;
    width: 100%;
}

.PubPagination {

    &-indicator{
        background: $yellow;
        padding: 0.6em 0 0 0;
        @include media-breakpoint-up(sm) {
            flex: 3;
        }
    }
    &-incrementor {
        white-space: nowrap;
    }
}

.DetailsHeading {
    margin: 1.5em 0 0.5em 0;
}

.WeatherIndicator {
    &-label {
        float: left;
        width: 60%;
    }
}
