.Three-container {
    position: relative;
    overflow: hidden;
}

.Render {
    display: block;
    width: 225px;
    height: 225px;
    margin: 20px auto 0;



    @include media-breakpoint-up(sm) {
        width: 300px;
        height: 300px;
    }

    canvas {
        @extend .border-defaults;
        border-style: solid;
        border-radius: 100%;
        transform-origin: 0 0;
        transform: scale(0.75);
        width: 100%;
        box-sizing: border-box;

        @include media-breakpoint-up(sm) {
            transform: scale(1);
        }
    }
}

.Render--transition-left-out{
    animation: swipeLeftOut 0.3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

}
.Render--transition-left-in{
    animation: swipeLeftIn 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.Render--transition-right-out{
    animation: swipeRightOut 0.3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.Render--transition-right-in{
    animation: swipeRightIn 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.Button--pubNav--prev {
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
}
.Button--pubNav--next {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.SliderContainer {
    width: 100%;
    padding: 50px 30px 30px;
    box-sizing: border-box;
}

.Slider {
    background: url(/img/slider-track.svg);
    background-size: 9px 9px;
    height: 5px;

    .rc-slider-handle {
        margin-left: -12px;
        margin-top: -10px;
        width: 24px;
        height: 24px;
        background: $red;
        border: 1px solid $mintLight;
    }

    .rc-slider-dot {
        display: none;
    }
}



.WeatherIcon {
    height: 1.5em;
    display: inline-block;
    vertical-align: middle;
    float: right;
}
