.PulldownMenu {

    position: absolute;
    margin-top: 20px;
    top: $font-size-4;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    padding: $padding;

    text-align: center;
    background: transparentize($blueDark, 0.1);

    transform: translateY(-120%);
    transition: transform 1s;

    &.is-visible {
        display: block;
        transform: translateY(0%);
    }
}
