.PulldownMenu {

    position: absolute;
    z-index: 10;
    top: 0;
    transform: translateY(-100%);
    transition: transform 1s;
    text-align: center;
    min-height: 100vh;
    width: 100%;
    background: $yellow;

    .inner {
        @include make-container();
        max-width: 600px;
    }

    &.is-visible {
        display: block;
        transform: translateY(0%);
    }

    &-closeBtn {
        float: right;
        background: none;
        border: 1px solid white;
        border-radius: 100%;
        width: 30px;
        height: 30px;
    }
}
