.Search {

    &-resultContainer {
        position: relative;
    }

    &-resultList {
        position: absolute;
        z-index: 11;
        width: 100%;
        box-sizing: border-box;
    }

    &-result {
        padding: $padding-vert-sm $padding-horiz-sm;
        &--active {
            background: $redFocus;
        }
        &--isPub {
            &:before {
                content: '+';
                margin-right: 5px;
            }
        }
        &--exists {
            opacity: 0.3;
        }

        @include media-breakpoint-up(md) {
            padding: $padding-vert-md $padding-horiz-md;
        }

    }
}

.Search-result--active.Search-result--exists {
    background: none;
}