@import 'bootstrap/bootstrap.less';
@import 'bootstrap/mixins.less';

@import '_variables.less';
@import '_flex_mixins.less';
@import '_tool.less';
@import '_slider.less';
@import '_type.less';
@import '_modal.less';

body {
    background: lighten(#e7dfd7, 10);
}
.Header {
    text-align: center;
    padding: 40px 0 40px;
}
.Pint {
    position: relative;
    width: 128px;
    height: 128px;
    margin: 0 auto;
}
.Pint-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.Pint-shad {
    position: absolute;
    z-index: 0;
    top: 64px;
    left: 0;
    width: 128px;
    height: 128px;
    background: url(../img/pint_shad.png) 0 100% no-repeat;
    .transition(all 200ms);
    .transform(translateY(-64px));

    .background-size(128px 128px);
}
.Map,
.ThreeD {
    display: block;
    width: 100%;
    height: 400px;
    margin-top: 30px;
    color: #fff;
    background: @greyDark;
    background: -moz-radial-gradient(center, ellipse cover, lighten(@greyDark, 10) 0%, @greyDark 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,lighten(@greyDark, 10)), color-stop(100%,@greyDark));
    background: -webkit-radial-gradient(center, ellipse cover, lighten(@greyDark, 10) 0%,@greyDark 100%);
    background: -o-radial-gradient(center, ellipse cover, lighten(@greyDark, 10) 0%,@greyDark 100%);
    background: -ms-radial-gradient(center, ellipse cover, lighten(@greyDark, 10) 0%,@greyDark 100%);
    background: radial-gradient(ellipse at center, lighten(@greyDark, 10) 0%,lighten(@greyDark, 10) 100%);
    a {
        color: lighten(@blue, 10);
        &:hover {
            color: @blue;
        }
    }
    @media (min-width: 590px) {
        margin-top: 0;
        height: 500px;
        width: 50%;
        float: right;
    }
}
.leaflet-popup-content {
    font-family: ClearSans-Regular;
    font-size: 15px;
    margin: 6px 25px 6px 10px;
    line-height: 1em;
    color: @greyDark;
}

.leaflet-container a.leaflet-popup-close-button {
    padding: 7px 15px 7px 0;
}
