.Logo--main {
    display: block;
    width: 100%;
    height: auto;
}

.Button {
    padding: 1rem 2rem;
    display: block;
    width: 100%;
    border: none;
    box-sizing: border-box;
    text-align: center;
    background: $blue;
    color: $mintLight;
    @extend .inner-shadow;

    border-width: 0;
    transition: box-shadow 100ms ease;
    cursor: pointer;

    box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.2);

    & img {
        vertical-align: middle;
        margin-left: 12px;
    }
}

.Button--primary {
    @extend .Button;
    @extend .btn-text--large;
    min-height: 3.75rem;
    padding-top: 1.3rem;
    padding-bottom: 1.7rem;
    color: $white;
    background: $red;
    font-size: $font-size-2;
    transition: background-color 0.3s;

    &:after {
        transition: transform 0.3s;
    }

    &:hover {
        background-color: $redFocus;

        &:after {
            transform: scale(1.2);
        }
    }

    @include media-breakpoint-up(md) {
        min-height: 8rem;
        font-size: $font-size-lrg-1;
        padding-top: 2.6rem;
        padding-bottom: 2.6rem;
    }
}

.Button--primary--search {

    position: relative;
    padding-left: 2.6rem;
    padding-right: 2.6rem;

    &:after {
        content: url(/img/icons/search.svg);
        width: 1.666em;
        display: inline-block;
        position: absolute;
        right: 1.111em;
        top: 50%;
        margin-top: -0.8333em;
    }

}

.Button--close {
    @extend .Button;
    background: $red;
}

.Button--secondary {
    @extend .Button;
    background-color: $yellowLight;
    color: $blueDark;
    transition: background-color 0.3s;

    &:hover {
        background-color: $yellowLightFocus;
    }

    @include media-breakpoint-up(md) {
        min-height: 8rem;
    }
}

.Button--confirmed {
    position: relative;

    &:after {
        content: '✓';
        position: absolute;
        right: 20px;
        font-size: 2em;
        color: green;
        top: 50%;
        margin-top: -1rem;
        animation: showTick 0.4s;
        animation-timing-function: cubic-bezier(.51,.66,.62,1.63);
    }
}


.Button--time {
    @extend .Button--secondary;
    padding: 1rem 0;
    position: relative;
    min-height: 110px;
    background-color: $yellowLight;


    & span {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 10%;
        font-size: $font-size-4;
    }

    &:before {
        margin: auto;
        display: block;
        position: relative;
    }

    &:hover:before {
        animation: drinkyShake 0.6s;
    }

    @include media-breakpoint-up(md) {

        & span {
            width: auto;
            left: 12%;
            bottom: 50%;
            transform: translateY(50%);
            font-size: $font-size-lrg-1;
        }

        &:before {
            font-size: 1.3em;
            position: absolute;
            margin-top: -2.6rem;
            top: 50% !important;
            right: 12% !important;

        }
    }
}


.Button--morning {
    @extend .Button--time;

    &:before {
        content: url(/img/icons/morning-icon.svg);
        width: 1.875em;
        top: -0.375em;
    }

}

.Button--afternoon {
    @extend .Button--time;

    &:before {
        content: url(/img/icons/afternoon-icon.svg);
        width: 1.0625em; //17px
        top: -0.375em;
    }
}

.Button--evening {
    @extend .Button--time;

    &:before {
        content: url(/img/icons/evening-icon.svg);
        width: 2.1875em;
        top: -0.4375em;
    }
}

.Button--info {
    border: 0;
    background: none;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 0;

    & > img {
        display: inline-block;
    }
}

.Prompt {
    position: relative;

    .inner {
        padding: 1rem;
    }
}


.Circle-or {
    box-sizing: border-box;
    position: absolute;
    top: -1.5em;
    width: 3em;
    margin-left: -1.5em;
    height: 1.5em;
    padding-top: 0.3em;
    background: #f4f6eb;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    border: 2px solid #2f2c49;
    border-bottom: 0;
    font-size: 1rem;
    line-height: 2em;

    @include media-breakpoint-up(md) {
        font-size: 1.5rem;
    };

}
