html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 $footer-height; /* bottom = footer height */
}
.App > div {
}
.row {
    @include make-row();
}

.half-col {
    @include make-col();
    @include make-col-span(8);
    &:nth-child(2n) {
        @include make-col-offset(1);
    }
}

.max-width {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.half-width {
    flex: 1 0 300px;
}

.flex-wrap {
    flex-wrap: wrap;
}

//overrides for flex
.flex-none {
    flex: none !important;
}

.flex-1 {
    flex: 1 !important;
}

.flex-2 {
    flex: 2 !important;
}

.flex-3 {
    flex: 3 !important;
}

.negative-margin {
    width: calc(100% + 20px);
    margin: -4px -10px -4px -10px;

    @include media-breakpoint-up(sm) {
        width: calc(100% + 40px);
        margin: -10px -20px -10px -20px;
    }
}

.AppContainer {
    background: orange;
    height: 200px;
}
