@import url(https://fonts.googleapis.com/css?family=Karla:400,700);

@font-face {
    font-family: 'LeagueSpartan';
    src: url('/fonts/leaguespartan-bold-webfont.woff2') format('woff2'),
         url('/fonts/leaguespartan-bold-webfont.woff') format('woff'),
         url('/fonts/leaguespartan-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



//base 16px
$font-size-default: 1rem;
$font-size-1: 1.125rem;
$font-size-2: 0.999rem;
$font-size-3: 0.9375rem;
$font-size-4: 0.75rem;
$font-size-5: 0.625rem;
$font-size-6: 0.563rem;


//desktop
$font-size-lrg-1: 1.625rem; //26pt
$font-size-lrg-2: 1.25rem;
$font-size-lrg-3: 2.1875rem;
$font-size-lrg-4: 1.875rem;


$font-family-heading: 'LeagueSpartan', sans-serif;
$font-family-body: 'Karla', sans-serif;

$font-size-root: 16px;




html {
    font-size: $font-size-root;
}
body {
    line-height: $line-height;
    font-family: $font-family-body;
    font-weight: normal;
    font-weight: 100;
    color: $purple-dark;
    //font-size: $font-size-4;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    font-weight: 700;
}

p {
    margin: 0;
    padding: 0;
    font-size: inherit;
}
.Box {
    font-weight: bold;
}

.intro {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: inherit;
}
a,
button {
    &:focus {
        outline: none;
    }
}

input {
    border: none;
    box-sizing: border-box;
    padding: 1em;
}


/****/

p a {
    text-decoration: underline;
}

h1,
.LogoType {
    font-size: $font-size-4;
    font-family: $font-family-heading;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    font-weight: normal;
}

.Heading--1 {
    font-family: $font-family-heading;
    text-transform: uppercase;
    font-size: $font-size-1;
}

.Heading--2 {
    font-family: $font-family-heading;
    font-size: $font-size-2;

    @include media-breakpoint-up(md) {
        font-size: $font-size-lrg-2;
    }
}

.Para--large {
    font-family: $font-family-heading;
    font-size: $font-size-default;

    @include media-breakpoint-up(md) {
        font-size: $font-size-lrg-4;
    }
}

.Para--body {
    font-size: $font-size-3;
    line-height: 1.75rem;

    &:nth-child(n+2){
        margin-top: 1.5em;
    }
}

.Para--tiny {
    font-size: $font-size-6;
}

.btn-text--large {
    font-size: $font-size-3;
    font-weight: 700;
}

.btn-text--small {
    font-size: $font-size-4;
    font-weight: 700;
}

.caps--small {
    font-family: $font-family-heading;
    font-size: $font-size-5;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
        font-size: $font-size-default;
    }
}

.caps--smaller {
    font-family: $font-family-heading;
    font-size: $font-size-6;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
}

em,
.txt-suggestion {
    font-style: normal;
    color: $mint;
}
