$enable-flex: true;

@mixin box-shadow($shadow...) {
  @if $enable-shadows {
    box-shadow: $shadow;
  }
}

@mixin transition($transition...) {
  @if $enable-transitions {
    transition: $transition;
  }
}


// Core Variables and Mixins
@import 'variables'; // Override
// @import '../../../node_modules/bootstrap/scss/mixins/breakpoints';
// @import '../../../node_modules/bootstrap/scss/mixins/clearfix';
// @import '../../../node_modules/bootstrap/scss/mixins/grid';
// @import '../../../node_modules/bootstrap/scss/mixins/grid-framework';
// @import '../../../node_modules/bootstrap/scss/mixins/border-radius';
// @import '../../../node_modules/bootstrap/scss/mixins/forms';
// @import '../../../node_modules/bootstrap/scss/mixins/buttons';
@import '../../../node_modules/bootstrap/scss/mixins';

// Core CSS
@import '../../../node_modules/bootstrap/scss/print';
@import '../../../node_modules/bootstrap/scss/normalize';
@import '../../../node_modules/bootstrap/scss/forms';
@import '../../../node_modules/bootstrap/scss/buttons';

// Grid classes
// @import '../../node_modules/bootstrap/scss/_grid';



// Utillitites
@import 'lib/slider';

// General
@import 'type',
        'animations',
        'utilities';

//layout
@import 'layout';

// Modules
@import 'modules/box';
@import 'components';
@import 'modules/map';
@import 'modules/pint';
@import 'modules/pub';
@import 'modules/header';
@import 'modules/footer';
@import 'modules/pulldown';
@import 'modules/location-marker';
@import 'modules/info-box';
@import 'modules/logo';
@import 'modules/search';



//views
@import 'views/start';
@import 'views/locate';
@import 'views/admin';
@import 'views/pubdetail';

html {
}

body {
    color: $blueDark;
    background: $yellow;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    border-width: 2px;

    @include media-breakpoint-up(md) {
        border-width: 3px;
    }
}

#App {
    padding-bottom: 1rem;
}
textarea, input { outline: none; }
